{% extends "studentBase.html" %}

{% block main-content %}

    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1>{{class.name}}</h1>
                <h3 style = 'color: white;'>(Class Code: {{class.code}})</h3><br><br><br>
                <h1>Assignments <span class="badge badge-secondary">{{assignmentsA}}</span></h1></center>

                {% for assignment in assignments %}
                <div class="card class-card">
                  <div class="card-body">
                    <a>{{assignment.name}}</a>
                    <a href = "/home" title = "View" class = "btn btn-primary">👁</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
