{% extends "studentBase.html" %}

{% block main-content %}
    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1>Assigned <span class="badge badge-secondary">{{AssignmentsA}}</span></h1></center>
                  {% for assignment in assignments %}
                  {% if assignment.done == False %}
                  <div class="card class-card">
                    <div class="card-body">
                      <a>{{assignment.name}}</a>&nbsp;
                      <a href = "/homework/student/view/{{ assignment.id }}" title = "View" class = "btn btn-primary">👁</a>
                      <a href = "/homework/done/{{assignment.id}}" title = "Mark as Done" class = "btn btn-success">✓</a>
                      {% if not assignment.linked_model_assignment %}
                      <a href = "/homework/delete/{{assignment.id}}" title = "Delete" class = "btn btn-danger">✗</a>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}

                <center><h1>Done <span class="badge badge-secondary">{{AssignmentsD}}</span></h1></center>
                  {% for assignment in assignments %}
                  {% if assignment.done == True %}
                  <div class="card class-card">
                    <div class="card-body">
                      <a>{{assignment.name}}</a>&nbsp;
                      <a href = "/homework/student/view/{{ assignment.id }}" title = "View" class = "btn btn-primary">👁</a>
                      <a href = "/homework/undone/{{assignment.id}}" title = "Un-Submit" class = "btn btn-dark">-✓</a>
                      {% if not assignment.linked_model_assignment %}
                      <a href = "/homework/delete/{{assignment.id}}" title = "Delete" class = "btn btn-danger">✗</a>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
