{% load socialaccount %}

<!DOCTYPE html>
<html>

<head>
  <title>Login - The Homework Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossOrigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/static/login/js/main.js"></script>
	<link rel='stylesheet' href="home.scss" type='text/scss' />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/vendor/animate/animate.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  	<link rel="stylesheet" type="text/css" href="/static/login/css/util.css">
  	<link rel="stylesheet" type="text/css" href="/static/login/css/main.css">
</head>

<body style="background-color: #666666;">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
    <form method="POST" class="login100-form validate-form" action = "/accounts/django/login/">
        {% csrf_token %}

        <span class="login100-form-title p-b-43">Log in</span>
        <div class="container-login100-form-btn">
            <a title = "Log in with Google" href="{% provider_login_url 'google' %}" class="btn btn-light btn-block" style="border-color: #0b0b0b;"><img style="height: 40px;" align="left" src = "/static/images/google-icon.svg"><center style="margin-top: 10px;margin-right: 20px">Log in with Google</center></a>
        </div><hr>
        {% if form.errors %}
          <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            Username or Password is incorrect
          </div>
        {% endif %}

        <div class="wrap-input100 validate-input" data-validate = "Valid username is required: ex@abc.xyz">
          <input class="input100" type="text" name="username">
          <span class="focus-input100"></span>
          <span class="label-input100">Username</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="password">
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>

        </div>

        <div class="container-login100-form-btn">
          <button type="submit" value="Submit" class="login100-form-btn">Login</button>
        </div>

		<div class="text-center p-t-46 p-b-20">
			<span class="txt2">
				Are you a new member <a href = "/new">Sign Up</a><br>
				Forgot Password Contact <a href = "mailto:homework.manager@tinu.tech">homework.manager@tinu.tech</a>
			</span>
		</div>

    </form>
    <div class="login100-more" style="background-image: url('/static/login/images/homework.jpg');">
    </div>
  </div>
</div>
</div>
</body>



<!--===============================================================================================-->
	<script src="/static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/login/js/main.js"></script>


</html>
