{% extends "base.html" %}

{% block main-content %}
    <script>
        let students = []
        {% for student in students %}
            students.push("{{ student.first_name }}")
        {% endfor %}

        function random() {
            if (students.length === 0){
                {% for student in students %}
                    students.push("{{ student.first_name }}")
                {% endfor %}
            }

            var studentNum = Math.floor(Math.random() * students.length);

            document.getElementById("modal-title").innerHTML = "Random Student";
            document.getElementById("modal-content").innerHTML = students[studentNum];
            document.getElementById("spin").style.display = "block";
            students.splice(studentNum, 1)

            $('#modal').modal('show')
        }
        function showCode(){
            document.getElementById("modal-title").innerHTML = "Class Code";
            document.getElementById("modal-content").innerHTML = "{{ class.code }}";
            document.getElementById("spin").style.display = "none";

            $('#modal').modal('show')
        }
    </script>
    <style>
        .random-button:hover{
            cursor: pointer;
        }
        .class-code{
            color: #ffffff;
        }
        .class-code:hover{
            cursor: pointer;
        }
    </style>

    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1>{{class.name}}</h1>
                    <h3 style = 'color: white;'><a class = "class-code" onclick = "showCode();">(Class Code: {{class.code}})</a> <a class = "edit-title" href = "/class/edit/{{ class.id }}">✎</a></h3>
                <p style = 'color: white;'>{{ class.description }}</p><br><br><br>
                {% if studentsA > 1%}
                <h1><img class = "random-button" onclick="random();" src = "/static/images/wheel.png" style = "height: 55px;"> Students <span class="badge badge-secondary">{{studentsA}}</span></h1></center>
                {% else %}
                <h1>Students <span class="badge badge-secondary">{{studentsA}}</span></h1></center>
                {% endif %}

                {% for student in students %}
                <div class="card class-card">
                  <div class="card-body">
                      <h3 style="display: inline"><a>{{student.first_name}}</a>&nbsp;
                    <a href = "/class/remove/student/{{class.id}}/{{student.id}}" title = "Delete" onclick=" return window.confirm('Are you sure you want to remove {{student.first_name}}');" class = "btn btn-danger">✗</a></h3>
                  </div>
                </div>
                {% endfor %}
              {% if assignmentsC != 0 %}
              <center><h1>Assignments <span class="badge badge-secondary">{{assignmentsC}}</span></h1></center>
              {% for assignment in assignments %}
              <div class="card class-card">
                <div class="card-body">
                    <h3 style="display:inline;">{{assignment.0.name}} <a id="date">( <span class="badge badge-secondary" style = 'color: #00d089;'>{{assignment.1.0}}</span> Done, <span class="badge badge-secondary" style = 'color: #00d089;'>{{assignment.1.1}}</span> Assigned)</a>
                    <a href = "/homework/teacher/view/{{ assignment.0.id }}" title = "View" class = "btn btn-primary">👁</a>
                    <a href = "/homework/teacher/edit/{{ assignment.0.id }}" title = "Edit" class = "btn btn-secondary">✎</a>
                    <a href = "/homework/model/delete/{{assignment.0.id}}/1" title = "Delete" onclick=" return window.confirm('Are you sure you want to delete the assignment: {{assignment.0.name}}');" class = "btn btn-danger">✗</a></h3>
                    <a id = "date" style="float: right">Due: {% if assignment.due_date == time %}Today{% else %}{{ assignment.due_date }}{% endif %}</a>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Random Student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <center><h1 id = "modal-content">Student</h1></center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id = "spin" onclick="random()" class="btn btn-primary">Spin Again</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
