{% extends "base.html" %}

{% block main-content %}

    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1>Assignments <span class="badge badge-secondary">{{assignmentCount}}</span></h1></center>
                  {% for assignment in assignmentNames %}
                  <div class="card class-card">
                    <div class="card-body">
                      <h3><a>{{assignment.0.name}} (<span class="badge badge-secondary" style = 'color: #00d089;'>{{assignment.1.0}}</span> Done, <span class="badge badge-secondary" style = 'color: #00d089;'>{{assignment.1.1}}</span> Assigned)({{assignment.0.linked_class.name}})</a> &nbsp;
                      <a href = "/homework/teacher/view/{{ assignment.0.id }}" title = "View" class = "btn btn-primary">👁</a>
                      <a href = "/homework/teacher/edit/{{ assignment.0.id }}" title = "Edit" class = "btn btn-secondary">✎</a>
                      <a href = "/homework/model/delete/{{ assignment.0.id }}/0" title = "Delete" onclick="return window.confirm('Are you sure you want to delete the assignment: {{assignment.0.name}}')" class = "btn btn-danger">✗</a></h3>
                    </div>
                  </div>
                  {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}