{% extends "base.html" %}

{% block main-content %}

    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1 style="display: inline">{{assignment.name}}</h1><br><br>
                <h3 style="color: #ffffff">({{ assignment.user.first_name }})</h3>
                <h3 style="color: white">Due: {{ assignment.due_date }}</h3>
                <p style = 'color: white;'>{{ assignment.description }}</p><br><br><br>

                {% if assignment.done %}
                    <label style="color: #ffffff">Submission</label><textarea style="height: 164px" id = "submission-done" class = "form-control" readonly>{{ assignment.submission }}</textarea><p style="color: white; float: left;">Word Count: &nbsp;</p><p style="color: white; float: left;" id = "wordCount">0</p><br><br>
                    <a class = "btn btn-danger" href = "/homework/undone/{{ assignment.id }}">Return Assignment</a>
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <label style="color: #ffffff">Submission</label><textarea style="height: 164px" id = "submission-pend" onkeyup="update();" name = "submission" class = "form-control">{{ assignment.submission }}</textarea><p style="color: white; float: left;">Word Count: &nbsp;</p><p style="color: white; float: left;" id = "wordCount">0</p><br><br>
                        <button class = "btn btn-success" type = "submit">Submit Assignment</button>
                    </form>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block static %}
<script>
    function update(){
        {% if assignment.done %}
            var textbox = document.getElementById("submission-done");
        {% else %}
            var textbox = document.getElementById("submission-pend");
        {% endif %}
        var text = (textbox.value).split(" ");
        var count = document.getElementById("wordCount");
        count.innerHTML = text.length;
    }

    update();
</script>
{% endblock %}