{% extends "base.html" %}

{% block main-content %}

    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <br><br><br><br><br><center><h1 style = "color: white;">Welcome to the Homework Manager Teacher Portal</h1></center><br><br><br>

        <h1 style = "color: white;">You have <span class="badge badge-secondary" style = "color: #00d089;">{{Classes}}</span> Classes.</h1><br><br>

        <div class="row">
          <div class="col-sm-4">
            <div class="card card-3 home-card">
              <div class="card-body">
                <h5 class="card-title">Create a Class</h5>
                <p class="card-text">Create a class, that a student can join via the class code.</p><br>
                <a href="/class/add" class="btn btn-primary">Create a Class</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
                <div class="card card-3 home-card">
                  <div class="card-body">
                    <h5 class="card-title">Assign an Assignment</h5>
                    <p class="card-text">An Assignment is something that you can assign to everyone in your class (Ex. Multiplication Practice).</p><br>
                    <a href="/homework/add" class="btn btn-primary">Assign an assignment</a>
                  </div>
                </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-3 home-card">
              <div class="card-body">
                <h5 class="card-title">Manage Classes</h5>
                <p class="card-text">Manage everyone in your class, as well as the assignments in your class.</p><br>
                <a href="/class/teacher/view" class="btn btn-primary">Manage Classes</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock %}
