<html>

<title>Teacher or Student? - Homework Manager</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<br><br><center><h1>Are you a Teacher or a Student?</h1></center><br><br>

<style>
      .card-3{
      transition: 0.3s;
      margin-bottom: 15px;
      }

      .card-3:hover{
        transform: scale(1.05, 1.05);
        box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
      }

</style>

<center>
<div class="col d-flex justify-content-center"><div class="row">
  <div class="col-sm-6">
    <div class="card card-3" style = "width: 550px">
        <h5 class="card-header">Teacher</h5>
      <a href = "/new/teacher"><div class="card-body">
        <image src = "/static/images/teacher.jpg" style = "width: 500px; height: 500px"></image>
      </div></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-3" style = "width: 550px">
        <h5 class="card-header">Student</h5>
      <a href = "/new/student"><div class="card-body">
        <image  src = "/static/images/student.png" style = "width: 500px; height: 500px"></image>
      </div></a>
    </div>
  </div>
</div></div>
</center>



</html>