{% extends "base.html" %}

{% block main-content %}
    <!-- banner part start-->
    <section class="banner_part background_teal">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="banner_text"><br><br><br><br><br>
                <center><h1>Assigned <span class="badge badge-secondary">{{AssignmentsA}}</span></h1></center>
                  {% for assignment in assignments %}
                  {% if assignment.done == False %}
                  <div class="card class-card">
                    <div class="card-body">
                      <h3 style="display: inline" {% if assignment.due_date >= time %}>{% else %}style="color: red">{% endif %}{{assignment.name}}</h3>&nbsp
                      <a href = "/homework/student/view/{{ assignment.id }}" title = "View" class = "btn btn-primary">👁</a>
                      {% if assignment.linked_model_assignment %}
                      <a href = "" type="button" data-toggle="modal" data-sub = "{{ assignment.submission }}" data-assignid = "{{ assignment.id }}" data-assigname = "{{assignment.name}}" data-target="#exampleModal" title = "Submit" class = "btn btn-success">✓</a>
                      {% if assignment.due_date > time %}<a id = "date" style="float: right;">{% else %}<a id = "date" style="color: red; float: right;">{% endif %}Due: {% if assignment.due_date == time %}Today{% else %}{{ assignment.due_date }}{% endif %}</a>
                      {% else %}
                      <a href = "/homework/student/edit/{{ assignment.id }}" title = "Edit" class = "btn btn-secondary">✎</a>
                      <a href = "/homework/done/{{ assignment.id }}" type="button" title = "Mark as Done" class = "btn btn-success">✓</a>
                      <a href = "/homework/delete/{{assignment.id}}" onclick="return confirm('Are you sure you want to delete: {{ assignment.name }}');" title = "Delete" class = "btn btn-danger">✗</a>
                      {% if assignment.due_date > time %}<a id = "date" style="float: right;">{% else %}<a id = "date" style="color: red; float: right;">{% endif %}Due: {% if assignment.due_date == time %}Today{% else %}{{ assignment.due_date }}{% endif %}</a>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}

                <center><h1>Done <span class="badge badge-secondary">{{AssignmentsD}}</span></h1></center>
                  {% for assignment in assignments %}
                  {% if assignment.done == True %}
                  <div class="card class-card">
                    <div class="card-body">
                      <h3 style="display: inline">{{assignment.name}}</h3>&nbsp;
                      <a href = "/homework/student/view/{{ assignment.id }}" title = "View" class = "btn btn-primary">👁</a>
                      <a href = "/homework/undone/{{assignment.id}}" title = "Un-Submit" class = "btn btn-dark">-✓</a>
                      <a id = "date" style="float: right">Due: {% if assignment.due_date == time %}Today{% else %}{{ assignment.due_date }}{% endif %}</a>
                      {% if not assignment.linked_model_assignment %}
                      <a href = "/homework/delete/{{assignment.id}}" onclick="return confirm('Are you sure you want to delete: {{ assignment.name }}');" title = "Delete" class = "btn btn-danger">✗</a>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form method="POST">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input type = "text" id = "assign-id" name = "assign-id" style="display: none">
                <textarea class = "form-control" id = "submission" name = "submission" style = "height: 150px"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" name = "save_draft" class="btn btn-secondary">Save Draft</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block static %}
<!-- Script -->
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('assigname') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Submission for ' + recipient);
          modal.find('#submission').text(button.data('sub'));
          document.getElementById('assign-id').value = button.data("assignid");
        })
    </script>
{% endblock %}
